*{
    margin: 0;
    padding: 0;
    font-family: "Playfair Display", serif;
    box-sizing: border-box;
}

body{
    background: #080808;
    color: #fff;
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url("images/image.png");
    background-size: contain;      /* makes full image visible */
    background-position: right center;  /* <-- moves image to RIGHT */
    background-repeat: no-repeat;  /* prevents tiling */
    /* display: flex; */
    align-items: center;
}

.container{
    padding: 10px 10%;

}