*{
    margin: 0;
    padding: 0;
    font-family: "Playfair Display", serif;
    box-sizing: border-box;
    /* cursor: not-allowed; */
}

body{
    background: #080808;
    color: #fff;
}

#header {
    width: 100%;
    height: 75vh;
    background-image: url("images/image.png");
    background-size: contain;      /* makes full image visible */
    background-position: right;  /* <-- moves image to RIGHT */
    background-repeat: no-repeat;  /* prevents tiling */
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 10%;
    margin-top: 80px;
} 
/* #header img{
    width: 100%;
} */

.container{
    padding: 5px 20px;
}

nav{
    position: absolute;
    top: 50px;
    left: 50px;
    right: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 50;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 30px;
}

.logo{
    width: 140px;   
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;

}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: aqua;
}

/* ------about me ----- */
#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 40%;

}
.about-col-1 img{
    width: 60%;
    border-radius: 20px;
    margin-top: 10px; 
    margin-left: 100px;  /* move UP */
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 50px;
    font-weight: 600;
    color: cyan;
}
.tab-titles{
    display: flex;
    margin:20px 0 40px;
}
.tab-links {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-right: 30px;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #c80404;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.3s ;
}

.tab-links.active-link::after {
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color:#b4e012e2;
    font-size: 14px;
}
.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

/* -----SERVICES----- */

#services{
    padding: 30px ;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    margin-left: 65px;
    color: chartreuse;
}
.sub-titles{
    font-size: 50px;
    font-weight: 600;
    color: cyan;
    margin-left: 95px;
}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: backgrouns 0.5s, transform 0.5s;
}
.services-list div i {
    font-size: 50px;
    margin-bottom: 30px
}
.services-list div h2{
    font-size: 30px;
    font-family: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #03f7ca;
    font-size: 16px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background: #5c817c;
    transform: translateX(-10px);
}

/* -----PORTFOLIO----- */

#portfolio {
    padding: 50px 0;
}
.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;         
    margin-top: 50px;
    transform: translateX(-10px);
}
.work {
    border-radius: 20px;
    overflow: hidden; 
    background: #000;
    margin-top: 10px;
    margin-left: 90px;
    text-align: center;
    position: relative;
}
.work img {
    width: 80%;
    display: block;
    border-radius: 30px;
    transition: transform 0.5s;
    margin-left: center;
}
.work:hover img{
    transform: scale(1.2);
    /* transition: 0.5s */
}
.work:hover .layer{
    height: 100%;
}
.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), #d303f8);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display : flex;
    align-items: center;
    justify-content: center;
    Flex-direction: column;
    padding: 0.04px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h2{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.button{
    display: block;
    margin: 50px auto 0;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 10px;
    text-decoration: none;
    color: #fa0101;
    transition: backgrouns 0.3s;
}
.button:hover{
    background: #a1d9cf;
}
/*-------CONTACT-----*/
.contact-left{
    flex-basis: 35%;

}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}



